@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>

<h3>We'd love to hear from you</h3>

<p>Thank you for using our site, if you'd like to get in touch with feedback, suggestions or questions you can contact us using the below contact details.</p>

<p>We also love to receive new recipe ideas, if you have a great sugar free recipe you'd like to share with us, please get in touch.</p>

<address>
    <strong>John</strong> - <a href="mailto:john@sugarfreehealthydiet.com">john@sugarfreehealthydiet.com</a><br />
    <strong>Jayne</strong> - <a href="mailto:jayne@sugarfreehealthydiet.com">jayne@sugarfreehealthydiet.com</a>
</address>
